doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		- const fancyTitle = `${data.package.name} - ${data.package.description}`;
		title= fancyTitle
		meta(name='description' content=data.package.description)
		meta(property='og:title' content=data.package.name)
		meta(property='og:description' content=data.package.description)
		style
			!= css.tailwind
	body.w-full.flex.flex-col.justify-center.items-center.gap-2.bg-neutral-800.text-neutral-100.py-8
		.prose.dark_prose-invert.prose-a_text-blue-400.max-w-full.md_max-w-2xl
			include:markdown-it(html=true) ../README.md